src/main/mule/subflows/uhub-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="8239feda-6b3d-4e8e-999b-1b7f9724b59b" >
		<db:oracle-connection host="localhost" user="system" password="tiger" instance="XE" />
	</db:config>
	<flow name="insert-covid-case-sub-flow" doc:id="dcff8818-c4f4-4ad7-8003-8e065356cbe0" >
		<logger level="INFO" doc:name="Logger" doc:id="b2a6afce-4823-431b-b91c-7bccaaf9d5ba" message="transactionId:#[vars.transactionId],correlationId:#[vars.correlationId],message:Before Database Call,payload:#{payload]"/>
		<db:insert doc:name="Insert" doc:id="de972a95-6dc6-458a-87f4-4f0b14ed10ae" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into cvd_case_master2(source,caseType,firstName,lastName,phone,email,dob,nationalId,streetName,city,state,postal,country,createDate,updateDate) values(:source,caseType,:firstName,:lastName,:phone,:email,:dob,:nationalId,:streetName,:city,:state,:postal,:country,:createDate,:updateDate)]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="caseID" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="ef8f05ec-fdb1-4c31-b219-c2d326fd3aa2" message='transactionId:#[vars.transactionId],correlationId:#[vars.correlationId],message:"Covid case is registered successfully",payload:#{payload]' />
	</flow>
</mule>
